// *************************************
// GLOBAL
// *************************************

$mainFont: 'Hind', sans-serif;
$secondFont: 'Noto Sans', sans-serif;
$mainBgColor: #fff;
$btnBgColor: #27ae61;
$btnTextColor: #fff;
$mainFontColor: #989898;
$HeaderColor: #585858;
$bgBlue: #585858;
$cardBlue: #869791;
$font: "Poppins";

// *************************************
// NAVIGATION
// *************************************

$logoColor: #fff;
$logoScrollColor: #000;
$iconColor: #27ae61;
$navigationFontColor: #fff;
$navScrollBgColor: #fff;
$navScrollFontColor: #585858;

// *************************************
// HOME
// *************************************

$overlayColor: rgba(34, 35, 40, 0.5);
$textColor: #fff;
$playButtonBgColor: rgba(255, 255, 255, 0.5);
$playButtonColor: #222328;

// *************************************
// SERVICES
// *************************************

$iconHoverColor: #e74c3c;

// *************************************
// CAROUSEL
// *************************************

$carouselBgColor: #222328;
$carouselTextColor: #fff;
$carouselIconColor: #ffc107;
$buttonsColor: #585858;
$buttonHoverColor: #869791;

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************