// *************************************
// GLOBAL
// *************************************

$mainFont: 'Hind', sans-serif;
$secondFont: 'Noto Sans', sans-serif;
$mainBgColor: #fff;
$btnBgColor: #27ae61;
$btnTextColor: #fff;


// *************************************
// NAVIGATION
// *************************************

$logoColor: #fff;
$iconColor: #27ae61;
$navigationFontColor: #fff;

// *************************************
// HOME
// *************************************

$overlayColor: rgba(34, 35, 40, 0.5);
$textColor: #fff;
$playButtonBgColor: rgba(255, 255, 255, 0.5);
$playButtonColor: #222328;

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************