// *************************************
// GLOBAL
// *************************************

$mainFont: 'Hind', sans-serif;
$secondFont: 'Noto Sans', sans-serif;
$mainBgColor: #fff;


// *************************************
// NAVIGATION
// *************************************

$logoColor: #000;
$navigationFontColor: #fff;

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************

// *************************************
// GLOBAL
// *************************************