.navigation {
    width: 100%;
    height: 60px;
    background-color: #e3e992;

    .container{
        display: flex;
        align-items: center;

        .logo {
            width: 50%;
            
            a {
                text-transform: uppercase;
                color: $logoColor;
                font-weight: 700;
                font-size: 26px
            }
        }

        .menu {
            @include resetList;
            width: 50%;
            display: flex;
            justify-content: center;

            li {
                margin: 0 15px;
                
                a {
                    color: $navigationFontColor;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}